<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class">
				<div class="row row-height">
					<div class="col-height col-md-10">
<label for="forumfile" id="forumfile_label" class="control-label"><%=label.get('filename_label','Document File')%></label>
<% if(page.isUpdateMode()) {%>
&nbsp;&nbsp;<a href="javascript:void(0)" id="fileviewbutton"><em class="fa fa-eye" aria-hidden="true"></em></a>
<% } %>
<div class="input-group">
	<input type="hidden" id="fileid" name="fileid"/>
	<input type="hidden" id="forumurl" value="<%=data.dataset?.forumurl%>" />
	<input type="text" id="forumfile" class="form-control input-md irequired alert-input" value="<%=data.dataset?.forumapi%>" readonly />
	<input type="button" id="fileuploadbutton" class="btn btn-primary btn-md" value="Upload" />
	<div class="input-group-required"><label class="required">*</label></div>
</div>
<div id="forumfile_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('forumfile_alert','You can not leave this empty')%></div>
					</div>
				</div>
			</div>
	</div>
</div>
<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class">
				<div class="row row-height">
					<div class="col-height col-md-12">						
						<div class="form-check">						
							<input type="checkbox" id="cleansing" name="cleansing" class="form-control input-md form-check-input" value="1" <%=page.checked("1",data.dataset?.forumhost)%> />
<label for="cleansing" id="cleansing_label" class="control-label form-check-label"><%=label.get('cleansing_label','Cleansing Data')%></label>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class">
				<div class="row row-height">
					<div class="col-height col-md-4">
<label for="model" id="model_label" class="control-label"><%=label.get('model_label','Cleansing Data Model')%></label>
<div class="input-group">
	<select id="model" name="model" class="form-control input-md">
		<option value="gemini-1.5-flash" <%=page.selected("gemini-1.5-flash",data.dataset?.forumdbversion)%>>Gemini 1.5 Flash</option>
		<option value="gemini-pro" <%=page.selected("gemini-pro",data.dataset?.forumdbversion)%>>Gemini Pro</option>
		<option value="gemini-1.5-pro" <%=page.selected("gemini-1.5-pro",data.dataset?.forumdbversion)%>>Gemini 1.5 Pro</option>
	</select>
<div class="input-group-required"><label class="required">&nbsp;</label></div></div><div id="model_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('model_alert','You can not leave this empty')%></div>
					</div>
				</div>
			</div>
	</div>
</div>
<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class">
				<div class="row row-height">
					<div class="col-height col-md-12">
<label for="forumtable" id="forumtable_label" class="control-label"><%=label.get('forumtable_label','Document Prompt Info')%></label>
<div class="input-group"><textarea id="forumtable" name="forumtable" class="form-control input-md irequired alert-input" rows="7"><%=data.dataset?.forumtable%></textarea><div class="input-group-required"><label class="required">*</label></div></div><div id="forumtable_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('forumtable_alert','You can not leave this empty')%></div>
					</div>
				</div>
			</div>
	</div>
</div>
<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class">
				<div class="row row-height">
					<div class="col-height col-md-12">
<label for="forumquestions" id="forumquestions_label" class="control-label"><%=label.get('forumquestions_label','Questions')%></label>
<a href="#0" id="addquestion" class="btn btn-primary btn-md" title="Add Question" tabindex="-1"><i class="fa fa-plus fa-btn-icon" aria-hidden="true"></i></a>
<div id="questionslayer">
	<%	let questions = data.dataset?.questions;
	let rowcount = 5;
	if(questions && questions.length>0) { 
		rowcount = 5 - questions.length;
		for(let index=0; index < questions.length; index++) { 
			let item = questions[index]; %>
			<div class="quest-input"><input type="text" name="question" class="form-control input-md" value="<%=item%>"/></div>
		<%}
	}
	for(let index=0; index < rowcount; index++) { %>
		<div class="quest-input"><input type="text" name="question" class="form-control input-md" value=""/></div>
<%	}	%>
</div>						
					</div>
				</div>
			</div>
	</div>
</div>
<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class" id="webhooklayer">
				<div class="row row-height">
					<div class="col-height col-md-2">
						<div class="checkbox checkbox form-check">
							<input type="checkbox" value="1" id="hookflag" name="hookflag" class="form-control input-md form-check-input" <%=page.checked('1',data.dataset?.hookflag)%> /><label for="hookflag" id="hookflag_label" class="control-label form-check-label"><%=label.get('hookflag_label','Web Hook')%></label>
						</div>
					</div>
					<div class="col-height col-md">
						<div class="input-group">
							<input type="text" id="webhook" name="webhook" class="form-control input-md" value="<%=data.dataset.webhook%>" maxlength="200" />
							<div class="input-group-required"><label class="required"></label></div>
						</div>
						<div id="webhook_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('webhook_alert','You can not leave this empty')%></div>
					</div>
				</div>
			</div>
	</div>
</div>
<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class">
				<div class="row row-height">
					<div class="col-height col-md-12">
<label for="classifyprompt" id="classifyprompt_label" class="control-label"><%=label.get('classifyprompt_label','Classify Prompt')%></label>
<div class="input-group"><textarea type="text" id="classifyprompt" name="classifyprompt" class="form-control input-md irequired" rows="3"><%=data.dataset.classifyprompt%></textarea><span></span><div class="input-group-required"><label class="required">&#160;</label></div></div><div id="classifyprompt_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('classifyprompt_alert','You can not leave this empty')%></div>
					</div>
				</div>
			</div>
	</div>
</div>						
