<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class">
				<div class="row row-height">
					<div class="col-height col-md-10">
<label for="forumfile" id="forumfile_label" class="control-label"><%=label.get('filename_label','Document File')%></label>
<% if(page.isUpdateMode() && !data.dataset.summaryid) {%>
&nbsp;&nbsp;<a href="javascript:void(0)" id="fileviewbutton"><em class="fa fa-eye" aria-hidden="true"></em></a>
<% } %>
<div class="input-group">
	<input type="hidden" id="fileid" name="fileid"/>
	<input type="hidden" id="forumurl" name="forumurl" value="<%=data.dataset?.forumurl%>" />
	<input type="text" id="forumfile" class="form-control input-md irequired" value="<%=data.dataset?.forumapi%>" readonly />
	<input type="button" id="fileuploadbutton" class="btn btn-primary btn-md" value="Upload" />
	<div class="input-group-required"><label class="required"></label></div>
</div>
<div id="forumfile_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('forumfile_alert','You can not leave this empty')%></div>
					</div>
				</div>
			</div>
	</div>
</div>
<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class">
				<div class="row row-height">
					<div class="col-height col-md-6">
						<label for="summaryid" id="summaryid_label" class="control-label"><%=label.get('summaryid_label','Summary Document')%></label>
						<div class="input-group">
							<%-page.html('select',{map: data.entity?.sumdocs, value: data.dataset?.summaryid, id: "summaryid", name: "summaryid", class: "form-control input-md", empty: true })%>
						</div>
					</div>

					<div class="col-height col-md-4">
	<label for="forummodel" id="forummodel_label" class="control-label"><%=label.get('forummodel_label','Model')%></label>
	<div class="input-group">
	<%-page.html('select',{map: data.entity?.tmodels, value: data.dataset?.forummodel, id: "forummodel", name: "forummodel", class: "form-control input-md"})%>
	</div>
					</div>

				</div>
			</div>
	</div>
</div>
<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class">
				<div class="row row-height">
					<div class="col-height col-md-12">						
						<div class="form-check">						
							<input type="checkbox" id="ragflag" name="ragflag" class="form-control input-md form-check-input" value="1" <%=page.checked("1",data.dataset?.ragflag)%> />
<label for="ragflag" id="ragflag_label" class="control-label form-check-label"><%=label.get('ragflag_label','Retrieval Augmented Generation')%></label>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class">
				<div class="row row-height">
					<div class="col-height col-md-3">
<label for="raglimit" id="raglimit_label" class="control-label"><%=label.get('raglimit_label','Limit')%></label>
<input type="number" id="raglimit" name="raglimit" class="form-control input-md" min="0" value="<%=data.dataset?.raglimit%>" />
					</div>
					<div class="col-height col-md-3">
<label for="ragchunksize" id="ragchunksize_label" class="control-label"><%=label.get('ragchunksize_label','Chunk Size')%></label>
<input type="number" id="ragchunksize" name="ragchunksize" class="form-control input-md" min="0" value="<%=data.dataset?.ragchunksize%>" />
					</div>
					<div class="col-height col-md-3">
<label for="ragchunkoverlap" id="ragchunkoverlap_label" class="control-label"><%=label.get('ragchunkoverlap_label','Chunk Overlap')%></label>
<input type="number" id="ragchunkoverlap" name="ragchunkoverlap" class="form-control input-md" min="0" value="<%=data.dataset?.ragchunkoverlap%>" />
					</div>
				</div>
			</div>
		</div>
</div>
<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class">
				<div class="row row-height">
					<div class="col-height col-md-12">
<label for="forumtable" id="forumtable_label" class="control-label"><%=label.get('forumtable_label','Document Prompt Info')%></label>
<div class="input-group"><textarea id="forumtable" name="forumtable" class="form-control input-md irequired alert-input" rows="7"><%=data.dataset?.forumtable%></textarea><div class="input-group-required"><label class="required">*</label></div></div><div id="forumtable_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('forumtable_alert','You can not leave this empty')%></div>
					</div>
				</div>
			</div>
	</div>
</div>
<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class">
				<div class="row row-height">
					<div class="col-height col-md-12">
<label for="forumquestions" id="forumquestions_label" class="control-label"><%=label.get('forumquestions_label','Questions')%></label>
<a href="#0" id="addquestion" class="btn btn-primary btn-md" title="Add Question" tabindex="-1"><i class="fa fa-plus fa-btn-icon" aria-hidden="true"></i></a>
<div id="questionslayer">
	<%	let questions = data.dataset?.questions;
	let rowcount = 5;
	if(questions && questions.length>0) { 
		rowcount = 5 - questions.length;
		for(let index=0; index < questions.length; index++) { 
			let item = questions[index]; %>
			<div class="quest-input"><input type="text" name="question" class="form-control input-md" value="<%=item%>"/></div>
		<%}
	}
	for(let index=0; index < rowcount; index++) { %>
		<div class="quest-input"><input type="text" name="question" class="form-control input-md" value=""/></div>
<%	}	%>
</div>						
					</div>
				</div>
			</div>
	</div>
</div>
<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class" id="webhooklayer">
				<div class="row row-height">
					<div class="col-height col-md-2">
						<div class="checkbox checkbox form-check">
							<input type="checkbox" value="1" id="hookflag" name="hookflag" class="form-control input-md form-check-input" <%=page.checked('1',data.dataset?.hookflag)%> /><label for="hookflag" id="hookflag_label" class="control-label form-check-label"><%=label.get('hookflag_label','Web Hook')%></label>
						</div>
					</div>
					<div class="col-height col-md">
						<div class="input-group">
							<input type="text" id="webhook" name="webhook" class="form-control input-md" value="<%=data.dataset.webhook%>" maxlength="200" />
							<div class="input-group-required"><label class="required"></label></div>
						</div>
						<div id="webhook_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('webhook_alert','You can not leave this empty')%></div>
					</div>
				</div>
			</div>
	</div>
</div>
<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class">
				<div class="row row-height">
					<div class="col-height col-md-12">
<label for="classifyprompt" id="classifyprompt_label" class="control-label"><%=label.get('classifyprompt_label','Classify Prompt')%></label>
<div class="input-group"><textarea type="text" id="classifyprompt" name="classifyprompt" class="form-control input-md irequired" rows="3"><%=data.dataset.classifyprompt%></textarea><span></span><div class="input-group-required"><label class="required">&#160;</label></div></div><div id="classifyprompt_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('classifyprompt_alert','You can not leave this empty')%></div>
					</div>
				</div>
			</div>
	</div>
</div>						
