<% let display = page.isUpdateMode()?"readonly":""; %>
		<div class="row row-height">
			<div class="col-md-12 col-height">
					<div class="table-layer-class">
						<div class="row row-height">
							<div class="col-height col-md-7">
<label for="filterid" id="filterid_label" class="control-label"><%=label.get('filterid_label','ID')%></label>
<div class="input-group"><input type="text" id="filterid" name="filterid" class="form-control input-md irequired alert-input" class="form-control input-md irequired alert-input" maxlength="50" value="<%=data.dataset?.filterid%>" <%=display%>/><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="filterid_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('filterid_alert','You can not leave this empty')%></div>
							</div>
						</div>
					</div>
			</div>
		</div>
		<div class="row row-height">
			<div class="col-md-12 col-height">
					<div class="table-layer-class">
						<div class="row row-height">
							<div class="col-height col-md-10">
<label for="filtername" id="filtername_label" class="control-label"><%=label.get('filtername_label','Classify Name')%></label>
<div class="input-group"><input type="text" id="filtername" name="filtername" class="form-control input-md irequired alert-input" maxlength="50" value="<%=data.dataset?.filtername%>" /><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="filtername_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('filtername_alert','You can not leave this empty')%></div>
							</div>
						</div>
					</div>
			</div>
		</div>
